@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

aside {
  background-color: #f5c622;
}


/* ↓↓↓↓↓↘ Start - Header ↙↓↓↓↓↓ */
header {
  margin: 2em;
  text-align: center;
}

header > img.logo {
  max-width: 300px;
  height: auto;
}

header > h1.portfolio {
  text-align: right;
}
/* ↑↑↑↑↑↖ End - Header ↗↑↑↑↑↑ */


/* ↓↓↓↓↓↘ Start - Footer ↙↓↓↓↓↓ */
footer {
  background-color: #ccc;
}
/* ↑↑↑↑↑↖ End - Footer ↗↑↑↑↑↑ */


/* ↓↓↓↓↓↘ Start - Gallery ↙↓↓↓↓↓ */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

article.main {
  background-color: #00c9f2;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}
/* ↑↑↑↑↑↖ End - Gallery ↗↑↑↑↑↑ */


/* ↓↓↓↓↓↘ Start - About Me ↙↓↓↓↓↓ */
aside.sidebar1 {

}
/* ↑↑↑↑↑↖ End - About Me ↗↑↑↑↑↑ */


/* ↓↓↓↓↓↘ Start - Contact ↙↓↓↓↓↓ */


aside.sidebar2 {

}
/* ↑↑↑↑↑↖ End - Contact ↗↑↑↑↑↑ */


/* @@@@@ Start - Media Query @@@@@ */
@media (min-width: 768px) {
  main {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
  }

  aside {
    flex: 0 0 20%;
  }

  .sidebar1 {
    order: -1;
  }
}
/* @@@@@ End - Media Query @@@@@ */


/* ☢↔↔↔↔↔ la fin ↔↔↔↔↔☢ */
