@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap');

/*
Color Pallette:
magenta = rgb(255 ,0 ,255)
yellow = rgba(255, 255, 126, 1)
orange = rgba(255, 203, 5, 1)
black = rgba(0, 0, 0, 0.7)
white = rgba(255, 255, 255, 0.3)
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../img/trefoil-circle.jpg);
}

a {
  text-decoration: none;
  color: rgb(255, 0, 255);
}

a:hover {
  color: rgba(255, 203, 5, 1);
}

h2 {
  color: rgb(255, 0, 255);
}

img {
  max-width: 100%;
  height: auto;
}

aside {
  margin: 1em;
}

/* ↓↓↓↓↓↘ Start - Header ↙↓↓↓↓↓ */
header {
  margin: 2em;
  text-align: center;
}

/* Start - Logo Animation */
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

header > img.logo {
  max-width: 300px;
  height: auto;
  margin-bottom: -50px;
  animation-name: slidein;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.logo:hover {
  animation-name: slidein;
  animation-delay: unset, 0s;
  animation-duration: 0s, 0.5s;
  animation-iteration-count: 0;
}
/* End - Logo Animaion */

/* Start - "portfolio" Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header > h1.portfolio {
  text-align: right;
  font-size: 6vh;
  color: rgb(255,0,255);
  margin-right: 10vw;
  animation: fadeIn ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* End - "portfolio" Animation */

/* ↑↑↑↑↑↖ End - Header ↗↑↑↑↑↑ */

/* ↓↓↓↓↓↘ Start - Footer ↙↓↓↓↓↓ */
footer {
 display: none;
}
/* ↑↑↑↑↑↖ End - Footer ↗↑↑↑↑↑ */

/* ↓↓↓↓↓↘ Start - Main ↙↓↓↓↓↓ */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* ↓↓↓↓↓↘ Start - Gallery ↙↓↓↓↓↓ */
main > article.main {
  display: flex;
  flex-flow: column;
  flex: 1;
  align-items: center;
  justify-content: start;
  background-image: url(../img/splatter-background.png);
  background-position: right 10% bottom 45%;
  background-size:cover;
  border: 1mm ridge rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 1em;
  padding: 0.5em 0;
}

main > article.main > article {
  margin: 1em;
  align-self: center;
  text-align: center;
}

main > article.main > article > a > img.for-g-c-logo {
  background-color: rgba(255,255,255, 0.8);
}

main > article.main > article > h1 {
  margin: 0.2em 0;
}
/* ↑↑↑↑↑↖ End - Gallery ↗↑↑↑↑↑ */

/* ↓↓↓↓↓↘ Start - About Me ↙↓↓↓↓↓ */
aside.sidebar1 {
  color: rgba(255, 255, 126, 1);
  background-color: rgba(0, 0, 0, 0.7);
  border: 1.5mm ridge rgb(255,0,255);
  padding: 1em;
}

aside.sidebar1 > h2 {
  margin-bottom: 0.1em;
}
/* ↑↑↑↑↑↖ End - About Me ↗↑↑↑↑↑ */

/* ↓↓↓↓↓↘ Start - Contact ↙↓↓↓↓↓ */
aside.sidebar2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(rgba(255, 203, 5, 0.6), rgba(255, 255, 126, 0.6));
  padding: 1em;
  margin-top: 0;
}

aside.sidebar2 > h2 {
  display: none;
}

aside.sidebar2 > a > h3 {
  color: Black;
  font-size: 3vw;
}

aside.sidebar2 > a > h3.index-link {
  color: rgb(255,0,255);
}

aside.sidebar2 > a > h3.index-link:hover {
  color: rgba(255, 203, 5, 1);
}

/* Start - FA Animation */
@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(90deg); }
  85% { transform: rotate(360deg); }
  95% { transform: rotate(-360deg); }
  100% { transform: rotate(0deg); }
}

aside.sidebar2 > a > span > i.fab {
  color: Black;
  animation: wiggle 8s;
  animation-delay: 0s;
}

aside.sidebar2 > a > span > i.far {
  color: Black;
  animation: wiggle 8s;
  animation-delay: 0s;
}

aside.sidebar2 > a > span > i.fab:hover {
  animation: none;
}

aside.sidebar2 > a > span > i.far:hover {
  animation: none;
}
/* End - FA Animation */

/* ↑↑↑↑↑↖ End - Contact ↗↑↑↑↑↑ */

/* ↑↑↑↑↑↖ End - Main ↗↑↑↑↑↑ */

/* @@@@@ Start - Media Query @@@@@ */
@media (min-width: 768px) {
  main {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
  }

  aside {
    flex: 0 0 20%;
  }

  .sidebar1 {
    order: -1;
    margin-top: 0;
    margin-bottom: 0;
  }

  header > h1.portfolio {
    font-size: 8vh;
    margin-right: 25vw;
    margin-bottom: -20px;
  }

  /* ↓↓↓↓↓↘ Start - Gallery - @media ↙↓↓↓↓↓ */
  main > article.main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 auto;
  }

  main > article.main > article {
    max-width: 200px;
    align-self: center;
    text-align: center;
  }
  /* ↑↑↑↑↑↖ End - Gallery - @media ↗↑↑↑↑↑ */

  /* ↓↓↓↓↓↘ Start - Contact - @media ↙↓↓↓↓↓ */
  aside.sidebar2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: none;
    align-items: flex-start;
    background: linear-gradient(rgba(255, 203, 5, 0.6), rgba(255, 255, 126, 0.6));
    padding: 1em;
    margin-bottom: 0;
  }

  aside.sidebar2 > h2 {
    display: block;
    margin-bottom: 0.3em;
    color: rgba(255, 255, 126, 1);
    text-shadow: 1px 1px 0px black, 0 0 1em magenta, 0 0 0.2em magenta;
  }

  aside.sidebar2 > a > h3 {
    color: rgba(255, 255, 126, 1);
    font-size: unset;
    text-shadow: 0px 0px 2px magenta;
    margin-top: 0.6em;
  }

  aside.sidebar2 > a > h3.index-link {
    color: rgba(255, 255, 126, 1);
    font-size: unset;
    text-shadow: 0px 0px 2px magenta;
    margin-top: 0.6em;
  }
  /* ↑↑↑↑↑↖ End - Contact- @media ↗↑↑↑↑↑ */

  /* ↓↓↓↓↓↘ Start - Footer - @media ↙↓↓↓↓↓ */
  footer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1em;
  }

  footer > a {
    color: Black;
  }

  footer > a > h3 {
    margin-right: 5vw;
  }

  footer > a > span > i.fab {
    color: rgba(255, 203, 5, 1);
    font-size: 3em;
    margin: 0 0.1em 0 0.5em;
  }

  footer > a > span > i.far {
    color: rgba(255, 203, 5, 1);
    font-size: 3em;
    margin: 0 0.1em 0 0.5em;
  }
  /* ↑↑↑↑↑↖ End - Footer @media ↗↑↑↑↑↑ */
}
/* @@@@@ End - Media Query @@@@@ */

/* ☢↔↔↔↔↔ la fin ↔↔↔↔↔☢ */
